{
    "presets": [
        ["es2016"],
        "react" 
    ],
    "plugins": [
        "babel-plugin-transform-class-properties",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
        "transform-object-rest-spread"
    ]
}